body {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 90%;
    margin: 0;
    padding: 0;
}

a {
    color: #9c7;
    text-decoration: none;
}

a.exhibit-facet-value-link {
    color: #250;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #bda;
}

table, tbody {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

#title-panel {
    background: #444;
    border-bottom: 2px solid #aaa;
    color: #eee;
}

#title-panel h1 {
    color: #fff;
    font-weight: normal;
    margin: 0;
    padding: 0.5em;
}

#title-panel p {
    padding: 0 5em 1em;
}

.lens {
    background: #fffadf;
    border-top: 1px solid #ed7;
    border-bottom: 1px solid #ed7;
    margin: 1em 1em 0;
    padding: 1.5em;
}

.lens .label {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.4;
    text-transform: uppercase;
}

.lens .taxon {
    font-style: italic;    
}

.lens img {
    border: 5px solid #aaa;
    margin-top: 1em;
    max-width: 300px;
}

.lens .citation {
    color: #555;
    font-size: 80%;
    text-align: right;
}

#content td {
    padding: 1em 2em 0;
}

#content .sidebar {
    background: #cdd;
    width: 25%;
}

.exhibit-facet-body {
    border: 1px solid #cdd;
}

#content ul {
    list-style-type: none;
}
